<a href="https://colab.research.google.com/github/dionjoshualobo/Buzz/blob/main/DataWrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = pd.read_csv("/content/Crop_ProductionSheets.csv")
data.info()
print("Dimension:\n", data.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35799 entries, 0 to 35798
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   State       35799 non-null  object
 1   District    35799 non-null  object
 2   Crop        35799 non-null  object
 3   Crop_Year   35799 non-null  int64
 4   Season      35799 non-null  object
 5   Area        35798 non-null  float64
 6   Production  35589 non-null  float64
 7   Yield       35798 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 2.2+ MB
Dimension:
 (35799, 8)

In [ ]:
data.shape[0]

35799

In [ ]:
data.columns

Index(['State', 'District', 'Crop', 'Crop_Year', 'Season', 'Area',
       'Production', 'Yield'],
      dtype='object')

In [ ]:
data.describe()

          Crop_Year           Area    Production         Yield
count  35799.000000   35798.000000  3.558900e+04  35798.000000
mean    2008.479511    8927.894997  8.921077e+05    219.681806
std        6.546291   31702.322522  1.805649e+07   1549.373375
min     1997.000000       0.110000  0.000000e+00      0.000000
25%     2003.000000     100.000000  1.220000e+02      0.540000
50%     2009.000000     630.000000  9.340000e+02      1.080000
75%     2014.000000    3749.750000  8.978000e+03      3.270000
max     2019.000000  877029.000000  8.980570e+08  43958.330000

In [ ]:
data.dtypes

State          object
District       object
Crop           object
Crop_Year       int64
Season         object
Area          float64
Production    float64
Yield         float64
dtype: object

In [ ]:
# Check for leading/trailing spaces in column names
print("Columns with leading/trailing spaces:")
for col in data.columns:
    if col.strip() != col:
        print(col)

# Check for inconsistent spellings/capitalization in 'District' column
print("\nUnique values in 'District' column:")
print(data['District'].unique())

Columns with leading/trailing spaces:

Unique values in 'District' column:
['NICOBARS' 'NORTH AND MIDDLE ANDAMAN' 'SOUTH ANDAMANS' 'ANANTAPUR'
 'EAST GODAVARI' 'KRISHNA' 'VIZIANAGARAM' 'WEST GODAVARI' 'ADILABAD'
 'CHITTOOR' 'GUNTUR' 'KADAPA' 'KARIMNAGAR' 'KHAMMAM' 'KURNOOL'
 'MAHBUBNAGAR' 'MEDAK' 'NALGONDA' 'NIZAMABAD' 'PRAKASAM' 'RANGAREDDI'
 'SPSR NELLORE' 'SRIKAKULAM' 'VISAKHAPATANAM' 'WARANGAL' 'HYDERABAD'
 'DIBANG VALLEY' 'EAST KAMENG' 'EAST SIANG' 'KAMLE' 'LEPARADA' 'LOHIT'
 'LONGDING' 'LOWER DIBANG VALLEY' 'LOWER SIANG' 'LOWER SUBANSIRI' 'NAMSAI'
 'PAKKE KESSANG' 'PAPUM PARE' 'SIANG' 'TIRAP' 'UPPER SIANG'
 'UPPER SUBANSIRI' 'WEST SIANG' 'ANJAW' 'CHANGLANG' 'KRA DAADI'
 'KURUNG KUMEY' 'SHI YOMI' 'TAWANG' 'WEST KAMENG' 'BAKSA' 'BARPETA'
 'BISWANATH\n' 'BONGAIGAON' 'CACHAR' 'CHARAIDEO\n' 'CHIRANG' 'DARRANG'
 'DHEMAJI' 'DHUBRI' 'DIBRUGARH' 'DIMA HASAO' 'GOALPARA' 'GOLAGHAT'
 'HAILAKANDI' 'HOJAI\n' 'JORHAT' 'KAMRUP' 'KAMRUP METRO' 'KARBI ANGLONG'
 'KARIMGANJ' 'KOKRAJHAR' 'LAKHIMPUR' 'MAJULI\n' 'MARIGAON' 'NAGAON'
 'NALBARI' 'SIVASAGAR' 'SONITPUR' 'SOUTH SALMARA MANCACHAR\n' 'TINSUKIA'
 'UDALGURI' 'WEST KARBI ANGLONG\n']

In [ ]:
data['State'].unique()

array(['Andaman and Nicobar Island', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam'], dtype=object)

In [ ]:
top_5_yield_crops = data.groupby('Crop')['Yield'].mean().sort_values(ascending=False).head()
print("Top 5 highest average 'Yield' crops:")
print(top_5_yield_crops)

Top 5 highest average 'Yield' crops:
Crop
Coconut         8460.284309
Sugarcane         54.844449
Banana            21.986552
Onion             17.130947
Sweet potato      11.630398
Name: Yield, dtype: float64

In [ ]:
# Count the occurrences of each crop
crop_counts = data['Crop'].value_counts()

# Find crops that appear fewer than 300 times
rare_crops = crop_counts[crop_counts < 300]

print("Crops appearing fewer than 300 times:")
print(rare_crops)

Crops appearing fewer than 300 times:
Crop
Other Kharif pulses    270
Soyabean               251
Coriander              243
Turmeric               230
Cowpea(Lobia)          179
Tapioca                174
other oilseeds         152
Safflower              146
Garlic                  21
Sannhamp                14
Guar seed                3
Name: count, dtype: int64

In [ ]:
# Rename columns with leading or trailing spaces
data.columns = data.columns.str.strip()

# Verify the column names have been updated
print("Updated column names:")
print(data.columns)

Updated column names:
Index(['State', 'District', 'Crop', 'Crop_Year', 'Season', 'Area',
       'Production', 'Yield'],
      dtype='object')

In [ ]:
# Group by 'Crop' and 'Season' and calculate the total Production and average Yield
seasonal_performance = data.groupby(['Crop', 'Season']).agg(
    Total_Production=('Production', 'sum'),
    Average_Yield=('Yield', 'mean')
)

print("Seasonal performance of each crop:")
print(seasonal_performance)

Seasonal performance of each crop:
                           Total_Production  Average_Yield
Crop           Season
Arecanut       Autumn                6180.0       0.745000
               Kharif               43139.0       3.505714
               Rabi                704258.0       1.034723
               Summer                4740.0       0.570000
               Whole Year          766794.0       0.905676
...                                     ...            ...
Wheat          Kharif                   8.0       0.850000
               Rabi                291315.0       1.331522
other oilseeds Kharif             9633555.0      10.521524
               Rabi                 17973.0       1.132895
               Whole Year             247.0       0.430000

[138 rows x 2 columns]

In [ ]:
# Pivot the data to show year-wise average yield for each crop
year_wise_yield = data.pivot_table(index='Crop', columns='Crop_Year', values='Yield', aggfunc='mean')

print("Year-wise average yield for each crop:")
display(year_wise_yield)

Year-wise average yield for each crop:

Crop_Year,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Crop,,,,,,,,,,,,,,,,,,,,,
Arecanut,0.796087,0.784348,0.746087,1.201071,1.111786,0.880345,0.963667,0.950000,0.867586,0.856176,...,0.979091,0.873030,1.534545,0.984063,1.170625,1.143438,1.243529,1.652059,1.207576,1.360000
Arhar/Tur,0.461200,0.583091,0.707826,0.536721,0.555738,0.471167,0.529344,0.570678,0.637143,0.555690,...,0.566232,0.574925,0.712292,0.859808,0.815385,0.738462,0.685758,0.719683,0.655373,0.717971
Bajra,0.815882,0.964167,0.884828,0.945882,0.826129,0.655806,0.986286,0.784828,0.946129,0.772963,...,1.314828,1.227241,1.457500,1.683333,1.585556,1.932941,1.776667,1.847059,1.319412,2.189444
Banana,NaN,13.788261,13.746522,15.218085,12.777778,19.426739,14.300000,24.736957,17.976735,18.485490,...,20.501429,22.732449,15.511667,20.464186,20.482093,23.052558,23.585581,46.366047,50.063256,30.220000
Black pepper,NaN,NaN,NaN,NaN,NaN,0.210000,0.210000,0.185000,0.025000,0.390000,...,1.474000,1.442333,1.536000,1.538065,1.573333,1.620667,1.809000,2.078000,1.930333,1.981212
Cashewnut,NaN,NaN,NaN,0.220000,0.248235,0.182222,0.228333,0.256667,0.275789,0.284737,...,0.291875,0.373125,0.313571,0.354667,0.404000,0.419333,0.444667,1.587333,1.202667,0.951538
Castor seed,0.240556,0.350833,0.323250,0.378333,0.366500,0.365750,0.430250,0.454103,0.439070,0.455714,...,0.466585,0.467381,0.606571,0.671026,0.652051,0.667949,0.582703,0.682564,0.541579,0.669429
Coconut,5238.051739,6045.886957,5672.116522,7106.295000,8076.654884,7749.283953,7737.339762,9807.900000,7944.381860,8158.790208,...,8449.436458,9136.684792,8764.307907,8574.853256,8440.849762,8957.550000,9993.120000,10256.581628,10563.004419,9980.594583
Coriander,NaN,NaN,NaN,0.395000,0.531176,0.414706,0.405294,0.516471,0.503333,0.495000,...,0.671429,0.602500,0.686250,0.654286,0.516250,0.430000,0.496000,0.638750,0.331429,0.503750
Cotton(lint),1.017907,0.730682,0.923333,1.043111,1.116889,0.915455,1.252045,1.159773,1.030426,1.216596,...,1.222826,1.061333,1.422609,1.408372,1.621778,1.391818,1.479048,1.556111,1.442000,1.055135
Cowpea(Lobia),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.934706,1.703750,1.241500,1.141000,1.101905,0.507500,0.632857,0.353333,0.573500
Dry chillies,1.435938,1.645325,1.176140,1.622785,1.739873,1.433690,1.970595,2.137176,1.910000,2.127778,...,2.033488,2.026705,2.066667,2.496000,2.545362,2.339054,2.778378,2.851447,2.300390,2.682375
Garlic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,...,1.968000,2.136000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ginger,NaN,4.981818,5.327273,4.444000,4.490000,4.650833,4.915200,5.722692,5.990000,5.054828,...,7.148909,7.332364,7.497647,7.265600,7.149423,6.977857,7.054643,6.715357,7.288596,7.291667
Gram,0.413784,0.676667,0.643488,0.947333,0.954583,0.839583,0.940889,0.764222,0.942889,0.902979,...,0.860213,0.789556,0.851905,0.932222,1.077632,0.913590,0.791053,0.810789,0.747368,0.891111
Groundnut,1.003571,1.123158,1.150682,1.286136,1.297727,1.131591,1.240909,1.367045,1.522273,1.427273,...,1.526667,1.554889,1.671579,1.875714,1.949643,2.139259,1.868537,1.993500,1.931250,2.050976
Guar seed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.900000,NaN,NaN,0.000000
Horse-gram,0.376071,0.382759,0.382571,0.322500,0.431333,0.338824,0.424375,0.369032,0.357812,0.418667,...,0.450690,0.351923,0.564167,0.528000,0.415294,0.486111,0.385000,0.534444,0.438889,0.494737
Jowar,0.762143,0.688500,0.607381,0.835909,0.846279,0.751591,1.633721,1.126591,1.397955,1.208837,...,1.582895,1.957436,1.564800,2.571250,2.148696,1.901304,1.730000,1.793333,0.778500,1.753500
Jute,9.919565,9.040870,9.131739,9.794783,9.675652,9.963478,10.262609,7.193043,10.287407,9.352963,...,10.210741,9.125556,8.367778,9.991111,10.465926,11.727037,10.325556,11.313704,11.118889,11.668519
Linseed,0.461364,0.480909,0.400000,0.423103,0.441852,0.463793,0.457143,0.435357,0.470313,0.446897,...,0.438065,0.497308,0.555926,0.617200,0.669583,0.603704,0.597273,0.550400,0.550000,0.541600
Maize,1.889870,2.210385,2.406709,2.500000,2.683671,2.329634,2.447927,3.320339,2.944368,2.863412,...,3.219333,2.951889,3.056705,3.697945,3.670822,3.100526,3.197867,3.618133,3.127143,3.500125
Masoor,NaN,NaN,0.364286,NaN,0.511905,0.524762,0.510000,0.505714,0.511200,0.518400,...,0.495385,0.526000,0.574800,0.694800,0.761481,0.686400,0.624722,0.670556,0.767895,0.795000
Mesta,4.907600,5.382500,4.622381,6.318125,5.940968,5.633750,5.262500,5.787000,5.853125,5.755882,...,6.028750,5.848485,5.353214,6.285806,5.562333,6.528333,6.257586,5.917857,6.142414,6.468889
Moong(Green Gram),0.348750,0.480556,0.491707,0.389024,0.402615,0.322462,0.433231,0.397344,0.489104,0.448714,...,0.431667,0.559014,0.606667,0.629818,0.729107,0.663571,0.671781,0.772917,0.759863,0.833816
Niger seed,0.482353,0.520556,0.518261,0.571667,0.499565,0.485000,0.497500,0.505833,0.519615,0.515172,...,0.501724,0.556296,0.577200,0.575769,0.575417,0.542500,0.549200,0.540870,0.508800,0.536800
Oilseeds total,0.950769,0.955385,0.943077,1.003846,1.021538,1.007333,0.991333,1.044667,0.955333,0.959375,...,1.085625,1.106111,1.098333,1.056316,1.029474,2.836061,2.863846,4.547308,2.920000,5.124231
Onion,2.342609,2.340435,8.632857,12.040000,11.847097,10.401967,11.343492,11.901774,11.842500,11.145156,...,11.288889,12.316825,9.485238,10.383265,10.162449,10.998800,13.603265,100.809167,77.651458,13.426818
Other Rabi pulses,0.480000,0.433103,0.532174,0.438000,0.521842,0.450645,0.181818,0.393871,0.480889,0.483333,...,0.640000,0.625000,0.983333,NaN,1.152500,NaN,0.703182,0.731111,0.802609,0.734082
Other Kharif pulses,0.218571,0.189091,NaN,0.304762,0.330952,0.223000,0.240769,0.268000,0.274667,0.298667,...,0.820000,0.487143,0.607500,0.502500,0.442000,NaN,0.840000,0.890417,0.876000,0.946786
Peas & beans (Pulses),NaN,NaN,NaN,NaN,0.587826,0.585217,0.586957,0.596522,0.618519,0.616667,...,0.604815,0.645926,0.654815,0.819259,0.918889,0.902593,1.085692,1.103385,1.199275,1.281351
Potato,7.561304,7.055000,7.480857,7.020455,6.996098,7.252955,6.988333,7.269545,6.359583,7.590000,...,8.089412,7.722400,8.531200,8.483529,9.411132,6.899074,7.352182,7.081698,7.225556,7.660345
Ragi,1.203043,1.503636,1.414333,1.397586,1.495333,1.210000,1.438929,1.624074,1.542222,1.388400,...,1.324583,1.313333,1.204167,1.243500,1.280526,1.440556,1.433000,1.588333,1.543333,1.460000
Rapeseed &Mustard,0.697500,0.656111,0.399091,0.373889,0.440000,0.432667,0.464667,0.450000,0.445161,0.456970,...,0.974167,0.893056,0.541562,0.580000,0.624706,0.612353,0.795091,0.862115,0.913962,0.830351
Rice,1.439922,1.821719,1.857578,1.958372,1.950391,1.762846,1.836923,1.818397,1.873521,1.829021,...,2.152986,2.123217,2.247676,2.136063,2.229127,2.261473,2.213798,2.292016,2.303588,2.314925
Safflower,NaN,NaN,0.390000,0.340000,0.303000,0.318182,0.297273,0.353636,0.415455,0.501250,...,0.705000,0.731250,1.256667,0.630000,0.360000,0.713333,0.682500,0.650000,0.152000,0.475000
Sannhamp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000
Sesamum,0.344219,0.360141,0.312031,0.304286,0.320317,0.286129,0.327619,0.357619,0.363284,0.354706,...,0.340758,0.420000,0.456200,0.507115,0.492692,0.478269,0.549853,0.557826,0.567887,0.603472
Small millets,0.581000,0.657105,0.641429,0.657018,0.613636,0.586786,0.634667,0.647818,0.675614,0.657241,...,0.748393,0.744074,0.797755,0.822364,0.794545,0.826452,0.747667,0.772951,0.723175,0.803043
Soyabean,1.493077,1.425385,NaN,NaN,NaN,0.000000,1.345000,1.235556,1.424167,1.191111,...,1.696923,1.570769,1.801111,1.622222,1.804444,1.478333,1.862083,1.574167,1.569630,1.465357
Sugarcane,59.015000,60.790000,59.136333,54.716333,60.961290,50.316061,55.767419,54.629394,61.393437,58.838000,...,57.166176,59.398485,54.547667,53.397692,51.273846,48.824333,49.273667,51.077000,46.545000,45.321176
Sunflower,0.467333,0.559783,0.653077,1.038421,0.986111,0.902500,1.057143,0.720682,0.931364,0.896364,...,0.994583,0.978182,0.760000,0.910500,0.885000,0.927368,0.864828,0.935357,0.790625,0.979118
Sweet potato,NaN,NaN,NaN,13.230000,12.738421,11.295882,7.320000,6.883158,8.377368,8.499500,...,11.710588,11.962222,9.124211,9.789444,11.577368,11.161364,14.878421,18.498947,18.930000,18.969444
Tapioca,NaN,NaN,NaN,7.724167,7.830000,5.034286,6.290000,6.748000,6.930000,7.717143,...,6.749091,9.645556,14.525000,17.215556,14.110000,15.072500,14.248462,12.000000,14.823077,14.851538
Tobacco,1.116667,1.503684,1.253125,3.364286,2.970476,3.585476,3.782439,4.545476,4.374419,4.163571,...,4.380465,4.583953,5.905200,5.385946,5.430882,4.900625,3.190313,6.089643,37.570000,6.255714
Turmeric,NaN,3.574286,4.262857,4.847143,4.026250,4.459091,3.821250,3.795556,4.847778,4.346364,...,4.814545,4.884545,4.574545,4.792000,7.126000,5.376667,5.946923,5.043077,4.259286,4.085000
Urad,0.330000,0.601471,0.556667,0.420238,0.414419,0.311860,0.538095,0.536341,0.497000,0.583171,...,0.524889,0.572326,0.741143,0.711379,0.991071,0.772143,0.772031,0.919844,0.912687,0.969054
Wheat,1.177000,0.867619,1.031739,0.995217,1.030000,1.293600,0.996818,1.016667,1.218636,1.215417,...,1.471429,1.575789,1.582308,1.467500,2.193636,1.780000,2.113333,1.658000,1.835385,1.665000
other oilseeds,NaN,NaN,NaN,0.410000,NaN,1.177500,0.025000,0.315000,0.640000,0.610000,...,NaN,15.274000,NaN,11.702308,16.192727,NaN,1.137500,8.867500,10.085263,9.373000

In [ ]:
# Melt the pivoted data to easily find the maximum yield
melted_yield = year_wise_yield.reset_index().melt(id_vars='Crop', value_vars=year_wise_yield.columns, var_name='Crop_Year', value_name='Yield')

# Find the row with the highest yield
highest_yield_row = melted_yield.loc[melted_yield['Yield'].idxmax()]

print("Crop and year with the highest average yield:")
print(f"Crop: {highest_yield_row['Crop']}")
print(f"Year: {int(highest_yield_row['Crop_Year'])}")
print(f"Average Yield: {highest_yield_row['Yield']}")

Crop and year with the highest average yield:
Crop: Coconut
Year: 2018
Average Yield: 10563.00441860465

In [ ]:
display(melted_yield)

                Crop Crop_Year     Yield
0           Arecanut      1997  0.796087
1          Arhar/Tur      1997  0.461200
2              Bajra      1997  0.815882
3             Banana      1997       NaN
4       Black pepper      1997       NaN
...              ...       ...       ...
1122         Tobacco      2019  6.255714
1123        Turmeric      2019  4.085000
1124            Urad      2019  0.969054
1125           Wheat      2019  1.665000
1126  other oilseeds      2019  9.373000

[1127 rows x 3 columns]

In [ ]:
# Convert 'State' and 'District' columns to lowercase and remove leading/trailing spaces
data['State'] = data['State'].str.lower().str.strip()
data['District'] = data['District'].str.lower().str.strip()

# Verify the changes
print("Unique values in 'State' column after cleaning:")
print(data['State'].unique())
print("\nUnique values in 'District' column after cleaning:")
print(data['District'].unique())

Unique values in 'State' column after cleaning:
['andaman and nicobar island' 'andhra pradesh' 'arunachal pradesh' 'assam']

Unique values in 'District' column after cleaning:
['nicobars' 'north and middle andaman' 'south andamans' 'anantapur'
 'east godavari' 'krishna' 'vizianagaram' 'west godavari' 'adilabad'
 'chittoor' 'guntur' 'kadapa' 'karimnagar' 'khammam' 'kurnool'
 'mahbubnagar' 'medak' 'nalgonda' 'nizamabad' 'prakasam' 'rangareddi'
 'spsr nellore' 'srikakulam' 'visakhapatanam' 'warangal' 'hyderabad'
 'dibang valley' 'east kameng' 'east siang' 'kamle' 'leparada' 'lohit'
 'longding' 'lower dibang valley' 'lower siang' 'lower subansiri' 'namsai'
 'pakke kessang' 'papum pare' 'siang' 'tirap' 'upper siang'
 'upper subansiri' 'west siang' 'anjaw' 'changlang' 'kra daadi'
 'kurung kumey' 'shi yomi' 'tawang' 'west kameng' 'baksa' 'barpeta'
 'biswanath' 'bongaigaon' 'cachar' 'charaideo' 'chirang' 'darrang'
 'dhemaji' 'dhubri' 'dibrugarh' 'dima hasao' 'goalpara' 'golaghat'
 'hailakandi' 'hojai' 'jorhat' 'kamrup' 'kamrup metro' 'karbi anglong'
 'karimganj' 'kokrajhar' 'lakhimpur' 'majuli' 'marigaon' 'nagaon'
 'nalbari' 'sivasagar' 'sonitpur' 'south salmara mancachar' 'tinsukia'
 'udalguri' 'west karbi anglong']

In [ ]:
# Calculate the average yield for each District and Crop combination
data['Average_District_Crop_Yield'] = data.groupby(['District', 'Crop'])['Yield'].transform('mean')
print(data['Average_District_Crop_Yield'])

imputed_prod_group = data['Area'] * data['Average_District_Crop_Yield']
print(imputed_prod_group)


data['Production'] = data['Production'].fillna(imputed_prod_group)

# Verify that the missing values in 'Production' are filled
print("Missing values in 'Production' after imputation:")
print(data['Production'].isnull().sum())

0         0.848696
1         0.848696
2         0.848696
3         0.848696
4         0.848696
           ...
35794    29.644667
35795    40.266667
35796    40.266667
35797    40.266667
35798    40.266667
Name: Average_District_Crop_Yield, Length: 35799, dtype: float64
0         2070.477913
1         1380.318609
2         3519.540870
3         3519.540870
4         3524.633043
             ...
35794    10079.186667
35795     9060.000000
35796     9784.800000
35797     9865.333333
35798             NaN
Length: 35799, dtype: float64
Missing values in 'Production' after imputation:
1

In [ ]:
# Filter the data for Odisha state and Wheat crop
odisha_wheat_production = data[(data['State'] == 'odisha') & (data['Crop'] == 'Wheat')]

# Calculate the total production of wheat in Odisha
total_odisha_wheat_production = odisha_wheat_production['Production'].sum()

print(f"Total Wheat Production in Odisha: {total_odisha_wheat_production}")

Total Wheat Production in Odisha: 0.0

In [ ]:
# Load the external data
external_data = pd.read_csv("/content/city_day.csv")

# Display the first few rows and info of the external data to check for common columns
print("External Data Info:")
external_data.info()
print("\nExternal Data Head:")
display(external_data.head())

# Check for a common column for merging
print("\nColumns in current data:")
print(data.columns)
print("\nColumns in external data:")
print(external_data.columns)

External Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   PM2.5       24933 non-null  float64
 2   PM10        18391 non-null  float64
 3   NO          25949 non-null  float64
 4   NO2         25946 non-null  float64
 5   NOx         25346 non-null  float64
 6   NH3         19203 non-null  float64
 7   CO          27472 non-null  float64
 8   SO2         25677 non-null  float64
 9   O3          25509 non-null  float64
 10  Benzene     23908 non-null  float64
 11  Toluene     21490 non-null  float64
 12  Xylene      11422 non-null  float64
 13  AQI         24850 non-null  float64
 14  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(2)
memory usage: 3.4+ MB

External Data Head:

,City,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

Columns in current data:
Index(['State', 'District', 'Crop', 'Crop_Year', 'Season', 'Area',
       'Production', 'Yield', 'Average_District_Crop_Yield'],
      dtype='object')

Columns in external data:
Index(['City', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2', 'O3',
       'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')

In [ ]:
# Get unique values from 'City' column in both dataframes
unique_cities_data = set(data['City'].unique())
unique_cities_external = set(external_data['City'].unique())

# Combine unique values into a single set and sort them alphabetically
all_cities = sorted(list(unique_cities_data.union(unique_cities_external)))

print("List of all unique cities from both dataframes (alphabetical order):")
print(all_cities)

List of all unique cities from both dataframes (alphabetical order):
['Ahmedabad', 'Aizawl', 'Amaravati', 'Amritsar', 'Bengaluru', 'Bhopal', 'Brajrajnagar', 'Chandigarh', 'Chennai', 'Coimbatore', 'Delhi', 'Ernakulam', 'Gurugram', 'Guwahati', 'Hyderabad', 'Jaipur', 'Jorapokhar', 'Kochi', 'Kolkata', 'Lucknow', 'Mumbai', 'Patna', 'Shillong', 'Talcher', 'Thiruvananthapuram', 'Visakhapatnam', 'adilabad', 'anantapur', 'anjaw', 'baksa', 'barpeta', 'biswanath', 'bongaigaon', 'cachar', 'changlang', 'charaideo', 'chirang', 'chittoor', 'darrang', 'dhemaji', 'dhubri', 'dibang valley', 'dibrugarh', 'dima hasao', 'east godavari', 'east kameng', 'east siang', 'goalpara', 'golaghat', 'guntur', 'hailakandi', 'hojai', 'hyderabad', 'jorhat', 'kadapa', 'kamle', 'kamrup', 'kamrup metro', 'karbi anglong', 'karimganj', 'karimnagar', 'khammam', 'kokrajhar', 'kra daadi', 'krishna', 'kurnool', 'kurung kumey', 'lakhimpur', 'leparada', 'lohit', 'longding', 'lower dibang valley', 'lower siang', 'lower subansiri', 'mahbubnagar', 'majuli', 'marigaon', 'medak', 'nagaon', 'nalbari', 'nalgonda', 'namsai', 'nicobars', 'nizamabad', 'north and middle andaman', 'pakke kessang', 'papum pare', 'prakasam', 'rangareddi', 'shi yomi', 'siang', 'sivasagar', 'sonitpur', 'south andamans', 'south salmara mancachar', 'spsr nellore', 'srikakulam', 'tawang', 'tinsukia', 'tirap', 'udalguri', 'upper siang', 'upper subansiri', 'visakhapatanam', 'vizianagaram', 'warangal', 'west godavari', 'west kameng', 'west karbi anglong', 'west siang']

In [ ]:
# Standardize city names for better merging

# Standardize 'Hyderabad'
data['City'] = data['City'].replace('hyderabad', 'Hyderabad')
external_data['City'] = external_data['City'].replace('hyderabad', 'Hyderabad')

# Standardize 'Visakhapatnam'
data['City'] = data['City'].replace('visakhapatanam', 'Visakhapatnam')
external_data['City'] = external_data['City'].replace('visakhapatanam', 'Visakhapatnam')

# Merge the two dataframes on the 'City' column
merged_data = pd.merge(data, external_data, on='City', how='left')

# Display the first few rows of the merged data
print("Merged Data Head after standardization:")
display(merged_data.head())

# Check the shape of the merged data
print("\nMerged Data Shape after standardization:")
print(merged_data.shape)

Merged Data Head after standardization:

,State,City,Crop,Crop_Year,Season,Area,Production,Yield,Average_District_Crop_Yield,PM2.5,...,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,andaman and nicobar island,nicobars,Arecanut,2007,Kharif,2439.6,3415.0,1.40,0.848696,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,andaman and nicobar island,nicobars,Arecanut,2007,Rabi,1626.4,2277.0,1.40,0.848696,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,andaman and nicobar island,nicobars,Arecanut,2008,Autumn,4147.0,3060.0,0.74,0.848696,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,andaman and nicobar island,nicobars,Arecanut,2008,Summer,4147.0,2660.0,0.64,0.848696,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,andaman and nicobar island,nicobars,Arecanut,2009,Autumn,4153.0,3120.0,0.75,0.848696,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Merged Data Shape after standardization:
(1493846, 23)

In [ ]:
print("Columns in the merged data:")
print(merged_data.columns)

Columns in the merged data:
Index(['State', 'City', 'Crop', 'Crop_Year', 'Season', 'Area', 'Production',
       'Yield', 'Average_District_Crop_Yield', 'PM2.5', 'PM10', 'NO', 'NO2',
       'NOx', 'NH3', 'CO', 'SO2', 'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI',
       'AQI_Bucket'],
      dtype='object')

In [ ]:
# Create the 'Pollutant ratios' column
merged_data['Pollutant_ratios'] = merged_data['SO2'] / merged_data['NOx']

# Display the first few rows with the new column
print("Merged Data Head with 'Pollutant_ratios' column:")
display(merged_data.head())

Merged Data Head with 'Pollutant_ratios' column:

,State,City,Crop,Crop_Year,Season,Area,Production,Yield,Average_District_Crop_Yield,PM2.5,...,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Pollutant_ratios
0,andaman and nicobar island,nicobars,Arecanut,2007,Kharif,2439.6,3415.0,1.40,0.848696,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,andaman and nicobar island,nicobars,Arecanut,2007,Rabi,1626.4,2277.0,1.40,0.848696,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,andaman and nicobar island,nicobars,Arecanut,2008,Autumn,4147.0,3060.0,0.74,0.848696,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,andaman and nicobar island,nicobars,Arecanut,2008,Summer,4147.0,2660.0,0.64,0.848696,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,andaman and nicobar island,nicobars,Arecanut,2009,Autumn,4153.0,3120.0,0.75,0.848696,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Create a new column 'Calculated_Yield'
merged_data['Calculated_Yield'] = merged_data['Production'] / merged_data['Area']

# Calculate the sum of the difference between 'Calculated_Yield' and 'Yield'
difference_sum = (merged_data['Calculated_Yield'] - merged_data['Yield']).sum()

print(f"Sum of the difference between Calculated_Yield and Yield: {difference_sum}")

Sum of the difference between Calculated_Yield and Yield: 83753.88010422248

In [ ]:
# Check for negative values in Area, Production, or Yield
print("Checking for negative values:")
print("Negative Area:", merged_data[merged_data['Area'] < 0].shape[0])
print("Negative Production:", merged_data[merged_data['Production'] < 0].shape[0])
print("Negative Yield:", merged_data[merged_data['Yield'] < 0].shape[0])

# Check if Production > 0 and Area == 0
print("\nChecking for Production > 0 and Area == 0:")
print("Count:", merged_data[(merged_data['Production'] > 0) & (merged_data['Area'] == 0)].shape[0])

# Check if any Crop_Year is in the future (e.g., > 2024)
print("\nChecking for future Crop_Year:")
print("Future Crop_Years:", merged_data[merged_data['Crop_Year'] > 2024].shape[0])

Checking for negative values:
Negative Area: 0
Negative Production: 0
Negative Yield: 0

Checking for Production > 0 and Area == 0:
Count: 0

Checking for future Crop_Year:
Future Crop_Years: 0